  certifi==2019.6.16chardet==3.0.4click==7.1.2colorama==0.4.4dash==2.3.0dash-core-components==2.0.0dash-html-components==2.0.0dash-renderer==1.0.0dash-table==5.0.0DateTime==4.3distlib==0.3.3excel==1.0.0filelock==3.4.0dask==2.1.0decorator==4.4.0Flask==2.0.3Flask-Compress==1.11gunicorn==19.9.0html5lib==1.0.1idna==2.8isort==5.10.1ipython-genutils==0.2.0itsdangerous==2.1.1Jinja2==3.0.3jupyter-core==4.5.0lazy-object-proxy==1.7.1MarkupSafe==2.1.1mccabe==0.6.1nbformat==4.4.0numpy==1.21.4pandas==1.4.1platformdirs==2.4.0plotly==5.6.0pyJWT==2.0.0pylint==2.12.2pytz==2020.1python-dateutil==2.8.2six==1.15.0traitlets==4.3.2Werkzeug==2.0.3
